.formBlock {
  position: relative;
  width: 100vw;
  height: 870px;

  &__infoContent {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__content {
    position: relative;
    left: 280px;
    top: 120px;
    height: 510px;
    width: 884px;
    background-image: url(../images/formBlock/Background.png);
    display: flex;
    justify-content: space-between;
  }

  &__title {
    position: relative;
    top: 56px;
    left: 400px;

    width: 640px;
    height: 128px;
    color: $text-title;
    font-family: Georgia, sans-serif;
    font-size: 48px;
    padding-bottom: 24px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0;
    text-align: center;
  }

  &__text {
    height: 203px;
    width: 462px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 29px;
    padding-bottom: 56px;
    color: $text;
  }

  &__button {
    height: 62px;
    width: 215px;
    background: white;
    border-radius: 31px;
    border: 1px solid #2d415e;
    transition: 0.5s;

    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }

    &--active {
      height: 62px;
      width: 215px;
      margin-right: 20px;
      background: $button-active;
      border-radius: 31px;
      border: solid $button-active;
      transition: 0.5s;

      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
  }

  &__image {
    position: absolute;
    left: 100px;
    top: 116px;
  }

  &__form {
    width: 465px;
    padding-top: 45px;
    padding-right: 42px;

  }

  &__titleSmall {
    font-family: Open, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 30px;

    &--info {
      color: #fff;
    }
  }

  &__input {
    width: 100%;
    padding-top: 54px;
    padding-bottom: 7px;
    background-color: inherit;
    border: 0;
    border-bottom: 1px solid #2c2c2c;
  }

  &__button-center {
    display: flex;
    justify-content: center;
    padding-top: 56px;
  }

  &__link {
    color: white;
    text-decoration: none;
  }

  &__item {
    padding: 5px;
    list-style: none;
  }

  &__decorFirst {
    position: absolute;
    left: 40px;
    top: 50px;
  }

  &__decorSecond {
    position: absolute;
    left: 200px;
    top: 150px;
  }

  &__decorThird {
    position: absolute;
    left: 1190px;
    top: 306px;
  }

  &__decorFourth {
    position: absolute;
    left: 1290px;
    top: 600px;
  }
}
